@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'jersey';
  src: url('/font/jersey1') format('ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'titi';
  src: url('/font/titil') format('ttf');
}
@font-face {
  font-family: 'titibold';
  src: url('/font/titibold') format('ttf');
}

body {
  background: linear-gradient(120deg,rgb(20, 24, 43),  rgb(11, 11, 24) );
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: 'white';
}
